* {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color:rgb(255, 225, 222);
    margin: 0;
    padding: 0;
}

.text-center { text-align: center; }
.text-left { text-align: left; }

ul,
ol,
p {
    text-align: left; 
}

li {
    padding-bottom: 2px;
}

html {
    background-color: rgb(34, 87, 82);
    background-color: rgb(241, 183, 175);
}

main {
    display: flex;
    justify-content: space-between;
    /* border: 5px dotted rgb(44, 122, 115); */
    background-color: rgb(22, 49, 46);
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: rgb(25, 85, 80);
    text-align: center;
    padding: 10px;
}

.logo {
    font-weight: 900;
}

.links {
    /* border: 1px solid #fff; For debugging */
    display: flex;
    justify-content: flex-end;
}

.login { margin-left: 20px;}

.flex-item {
}

.whole-wrapper {
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(22, 49, 46);
}

.left-wrapper,
.center-wrapper,
.right-wrapper {
    /* background-color: rgb(22, 49, 46); */
    text-align: center;
    width: 15%;
    padding: 10px 10px;
}

.center-wrapper {
    width: 70%;
    padding: 10px 10vw;
}

img {
    height: auto;
    max-width: 100%;
    max-width: 300px;
    
    width: 100%;
}

@media (max-width: 800px) {
    .left-wrapper,
    .right-wrapper {
      display: none;
    }
    .center-wrapper {
        width: 100%;
    }
  }